body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #282828;
    background-color: #FFFFFF;
    margin: 0;
}

body > header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f2f2f1;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    align-items: center;
}

.delete-note {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header a {
    text-decoration: none;
}

.right-nav {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

header input[type=text] {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #f2f2f1;
    font-size: 12px;
}

body > .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100%;
    padding-right: 1rem;
    background-color: #FFFFFF;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.list {
    padding-inline-start: 20px;
}

.item {
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
}

.day {
    font-size: 11px;
    margin-top: 0px;
    font-weight: 300;
}

.sidebar-btn {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: #ffffff;
    border:none;
    border-radius: 5px;
    text-align: left;
    height: auto;
    width: 180px;
    padding-top: 0.5em;
    cursor: pointer;
    &:hover {
        background-color: #dcdcdc;
    }
    &:active {
        background-color: #FFe48a;
    }
}

.wrapper {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 217px;
    float: left;
    align-items: center;
}

.window-buttons {
    height: auto;
    display: flex;
    padding-left: 20px;
    padding-top: 7.5px;
    padding-bottom: 10px;
    border-right: 1px solid #dcdcdc;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 3px;
}

.button:before, .button:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    opacity: 0;
    transition: 100ms;
}

.close {
    background: #FF5D5B;
}
  
.minimize {
    background: #FFBB39;
}
  
.maximize {
    background: #00CD4E;
}

.close:before, .close:after {
    width: 1px;
    height: 60%;
    background: #313232;
}

.close:before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.close:after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.minimize:before {
    width: 60%;
    height: 1px;
    background: #313232;
}

.maximize:before {
    width: 50%;
    height: 50%;
    background: #024D0F;
}
  
.maximize:after {
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00CD4E;
}

.button:hover:before, .button:hover:after {
    top: 50%;
    opacity: 1;
}

.main-wrapper {
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 40px;
    letter-spacing: 1.5px;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 200;
    font-size: 18px;
}

.second-section {
    margin-top: 50px;
    text-align: right;
}

.edu-history {
    display: flex;
    justify-content: space-between;
}

.edu-history ul li {
    list-style: none;
}

.school {
    margin-bottom: 0;
}

.year {
    margin: 0;
}

.progress-bar {
    height: 10px;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.fill {
    height: 100%;
    border-radius: 5px;
    background-color: #FFBB39;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact-icons img {
    margin: 30px;
    background-color: none;
}



