body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #282828;
    background-color: #FFFFFF;
    margin: 0;
}

header {
    background-color: #f2f2f1;
    height: 30px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e0e0e0;
}

.wrapper {
    height: 30px;
    width: 180px;
    padding-left: 2.75px;
    padding-right: 2.75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 1px solid #e0e0e0;
}

.btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 3px;
}

.btn:before, .btn:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    opacity: 0;
    transition: 300ms;
}

.close-btn {
    background: #FF5D5B;
}
  
.min-btn {
    background: #FFBB39;
}
  
.max-btn {
    background: #00CD4E;
}

.close-btn:before, .close-btn:after {
    width: 1px;
    height: 60%;
    background: #313232;
}

.close-btn:before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.min-btn:before {
    width: 60%;
    height: 1px;
    background: #313232;
}

.max-btn:before {
    width: 50%;
    height: 50%;
    background: #024D0F;
}
  
.max-btn:after {
    width: 1px;
    height: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00CD4E;
}

.btn:hover:before, .btn:hover:after {
    top: 50%;
    opacity: 1;
}

.sidebar-container {
    height: 100%
}

.list {
    padding-left: 1.2rem;
}

.sidebar {
    display: block;
    position: relative;
    float:left;
    height: 700px;
    width: 180px;
    border-right: 1px solid #e0e0e0;
    cursor: pointer;
    padding-right: 1rem;
}

ul li {
    list-style: none;
}

.sidebar-btn {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: #ffffff;
    border:none;
    border-radius: 5px;
    text-align: left;
    height: auto;
    width: 160px;
    padding-top: 0.5em;
}

.day {
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    font-weight: lighter;
}

.item {
    border-bottom: 1px solid #e0e0e0;
}

.sidebar-btn:hover {
    background-color: #dcdcdc;
}

.sidebar-btn:active {
    background: #ffe48a;
}

.main {
    height: 100%;
    margin-left: 220px;
    margin-right: 17px;
}

.main h1 {
    font-size: 20px;
}

.main p {
    font-size: 14px;
}
